NEXT_PUBLIC_WMS_API_BASE_URL=https://unis.item.com/api
NEXT_PUBLIC_IAM_BASE_URL=https://id.item.com
NEXT_PUBLIC_FACILITY_ID=LT_F21
NEXT_PUBLIC_FACILITY_NAME=Cesanek
NEXT_PUBLIC_TENANT_ID=LT
NEXT_PUBLIC_TIMEZONE=America/New_York
